@mixin no-user-select {
  user-select: none; // chrome and Opera
  -moz-user-select: none; // Firefox
  -webkit-text-select: none; // IOS Safari
  -webkit-user-select: none; // Safari
}

@mixin dropdown-design {
  background-color: var(--dropdown-background);
  border: 1px solid var(--dropdown-border);
  color: var(--dropdown-text);
}