<div class="footer">
  <div class="footer-content">
    <hr />
    <div class="footer-row">
      <p>This Bible Web Application makes use of <a href="https://scripture.api.bible/" target="_blank" rel="noreferrer">API.Bible</a> for the retrieval of Bible content</p>
      <img src="assets/images/api-logo@2x.png" alt="API.Bible Logo" id="api-bible-logo" />
    </div>
    <hr />
    <div class="footer-row">
      <p>Created by Serge Lorenz Villasica as an Open source Project (2023-2014)</p>
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/serge-lorenz-villasica/" target="_blank" rel="noreferrer">
          <img src="assets/icons/linkedin-square-icon.svg" alt="linkedIn icon" />
        </a>
        <a href="https://github.com/sergelorenz/" target="_blank" rel="noreferrer">
          <img src="assets/icons/github-icon.svg" alt="github icon" />
        </a>
      </div>
    </div>
  </div>
</div>