@import '../../common/sass/functions';

.bible-select-area {
  display: flex;
  gap: 42px;
  justify-content: center;
  align-items: center;
}

.bible-select {
  font-size: 18px;
  height: 32px;
  width: 350px;

  @include theme() {
    background-color: theme-get('dropdown-background');
    border: 1px solid theme-get('dropdown-border');
    color: theme-get('dropdown-text');
  }

  .options {
    background-color: inherit;
    border: inherit;
    color: inherit;
  }

  .bible-group {
    font-size: 16px;

    p, li {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-bottom: 2px;
      padding: 0 16px;
    }

    p {
      font-weight: 700;
    }

    li {
      padding-left: 30px;
      transition: none;

      &:hover {
        @include theme() {
          background-color: theme-get('dropdown-select-hover');
          color: theme-get('dropdown-select-hover-text');
        }
      }
    }
  }
}