<div class="navigation">
  <div class="header-links">
    <h1>BIBLE EXPLORED</h1>
    <div class="header-icons">
      <img src="assets/icons/bible-icon.svg" alt="books and chapters">
      <img src="assets/icons/idea-icon.svg" alt="verse of the day icon">
      <img src="assets/icons/compare-svgrepo-com.svg" alt="side by side icon">
    </div>
  </div>
  <div class="generic-toggler-parent theme-toggler" [ngClass]="theme === 'light' ? 'toggler-true' : 'toggler-false'">
    <p>Switch to <span>{{theme === 'light' ? 'Dark' : 'Light'}} Mode</span></p>
    <div class="toggler-track" (click)="onToggleTheme()">
      <div class="toggler-thumb"></div>
    </div>
  </div>
</div>