@import '../../styles/constants';
@import '../../styles/mixins';

.navigation {
  height: $nav-height;
  width: 100%;
  background: var(--nav-gradient);
  border-bottom: 1px solid var(--nav-border);
  box-shadow: var(--shadow);
  color: var(--nav-text-color);
  fill: var(--nav-icons-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6.25%;
  position: sticky;
  z-index: 100;
  top: 0px;

  * {
    color: unset;
  }

  .theme-toggler {
    & > p {
      font-size: 16px;
      font-weight: 700;
      color: var(--nav-text-color);

      & > span {
        text-decoration: underline;
        color: var(--nav-text-color);
      }
    }

    .toggler-track {
      background-color: var(--toggler-track);
      border: 2px solid var(--toggler-border);
    }

    .toggler-thumb {
      background-color: var(--toggler-thumb);
      border: 2px solid var(--toggler-border);
    }
  }
}

.header-links {
  display: flex;
  gap: 30px;
  align-items: center;

  h1 {
    font-size: 26px;
    @include no-user-select;
    color: var(--nav-text-color);
  }

  * {
    cursor: pointer;
  }
}

.header-icons {
  display: flex;
  gap: 10px;
  align-items: center;

  a:nth-of-type(1) > img {
    width: auto;
    height: 36px
  }

  a:nth-of-type(2) > img {
    width: auto;
    height: 42px;
    margin-bottom: 6px;
  }

  a:nth-of-type(3) > img {
    width: auto;
    height: 42px;
  }

  img {
    &.selected {
      fill: var(--menu-selected);
      stroke: var(--menu-selected-stroke);
    }
  }
}