.verse-select-area {
  display: flex;
  gap: 20px;
  align-items: center;

  .chapter-select, .verse-select {
    width: 100px;
  }

  svg {
    &.add-verse-icon, &.remove-verse-icon {
      height: 80%;
      width: 80%;
    }

    &.previous-verse-icon {
      transform: rotate(180deg);
    }
  }

  & > p {
    margin: 0 -12px;
  }
}