@import '../../../src/styles/mixins';

.books-and-chapters {
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
}

.bible-content-area {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;

  // & > div {
  //   width: 0px;
  //   opacity: 0;
  //   transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
  // }
}

.bible-select-area {
  display: flex;
  gap: 42px;
  justify-content: center;
  align-items: center;
}

.bible-select {
  font-size: 18px;
  height: 32px;
  width: 350px;
  z-index: 9;
}

.books-and-chapter-navigator {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  gap: 35px;

  h2 {
    font-size: 26px;
    white-space: nowrap;
    color: var(--main-title);
  }

  .number-grid-spinner {
    align-items: flex-start;
    margin-top: 30px;
  }
}

.book-select {
  @include dropdown-design;
  z-index: 5;
}