@import '../../../common/sass/functions';

.bible-viewer {
  border-radius: 30px;
  display: flex;
  height: 700px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 30px 60px;
  @include theme() {
    border: 1px solid theme-get('bible-viewer-border');
    background-color: theme-get('bible-viewer-background');
  }

  * {
    @include theme() {
      color: theme-get('bible-viewer-text');
    }
  }

  h3 {
    font-size: 24px;
    text-align: center;
  }

  hr {
    width: 70%;
    height: 2px;
    border-width: 2px;
    border-style: solid;
    @include theme() {
      box-shadow: theme-get('shadow');
      border-color: theme-get('bible-viewer-horizontal-rule')
    }
  }

  .scripture-styles {
    overflow-y: hidden;
    margin: 35px 0px;
    @include theme() {
      color: theme-get('bible-viewer-text')
    }

    &:hover {
      overflow-y: auto;
    }

    p {
      padding-right: 12px;
    }

    .ca {
      @include theme() {
        color: theme-get('scripture-style-ca')
      }
    }

    .v, .vp, sup[class^="v"] {
      @include theme() {
        color: theme-get('scripture-style-v')
      }
    }

    .notelink .notelink:hover, .notelink:active, .notelink:visited {
      @include theme() {
        color: theme-get('scripture-style-notelink');
      }
    }

    .fv {
      @include theme() {
        color: theme-get('scripture-style-fv');
      }
    }

    .wj {
      @include theme() {
        color: theme-get('scripture-style-wj');
        font-weight: 700;
        text-decoration: theme-get('scripture-style-wj-decoration')
      }
    }

  }
  
  .copyright {
    width: 100%;
    overflow-y: hidden;
    text-align: left;
    height: 150px;
    font-style: italic;
    font-size: 12px;
    @include theme() {
      color: theme-get('bible-viewer-copyright');
    }

    &:hover {
      overflow-y: auto;
    }
  }
}