@import '../../common/sass/functions';
@import '../../common/sass/constants';
@import '../../common/sass/mixins';

.navigation {
  height: $nav-height;
  width: 100%;
  @include theme() {
    background: theme-get('nav-gradient');
    border-bottom: 1px solid theme-get('nav-border');
    box-shadow: theme-get('shadow');
    color: theme-get('nav-text-color');
    fill: theme-get('nav-icons-color');
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6.25%;
  position: sticky;
  z-index: 100;
  top: 0px;

  * {
    color: unset;
  }

  .theme-toggler {
    & > p {
      font-size: 16px;
      font-weight: 700;

      & > span {
        text-decoration: underline;
      }
    }

    .toggler-track {
      @include theme() {
        background-color: theme-get('toggler-track');
        border: 2px solid theme-get('toggler-border');
      }
    }

    .toggler-thumb {
      @include theme() {
        background-color: theme-get('toggler-thumb');
        border: 2px solid theme-get('toggler-border');
      }
    }
  }
}

.header-links {
  display: flex;
  gap: 30px;
  align-items: center;

  h1 {
    font-size: 26px;
    @include no-user-select;
    @include theme() {
      color: theme-get('nav-text-color');
    }
  }

  * {
    cursor: pointer;
  }
}

.header-icons {
  display: flex;
  gap: 10px;
  align-items: center;

  a:nth-of-type(1) > svg {
    width: auto;
    height: 36px
  }

  a:nth-of-type(2) > svg {
    width: auto;
    height: 42px;
    margin-bottom: 6px;
  }

  a:nth-of-type(3) > svg {
    width: auto;
    height: 42px;
  }

  svg {
    &.selected {
      @include theme() {
        fill: theme-get('menu-selected');
        stroke: theme-get('menu-selected-stroke');
      }
    }
  }
}