@import '../../../common/sass/mixins';
@import '../../../common/sass/functions';

.books-and-chapter-navigator {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  gap: 35px;

  h1 {
    font-size: 26px;
    @include theme() {
      color: theme-get('generic-text');
    }
  }
}

.book-select {
  @include dropdown-design;
}