@import '../../sass/mixins';

.generic-toggler-parent {
  display: flex;
  gap: 40px;
  align-items: center;

  p {
    @include no-user-select;
  }
}

.toggler-track {
  height: 28px;
  width: 52px;
  border-radius: 28px;
  position: relative;
  border: 1px solid black;
  transition: background-color 0.3s;
  cursor: pointer;
}

.toggler-thumb {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  position: absolute;
  border: 1px solid black;
  top: -7px;
  left: -25%;
  background-color: white;
  transition: left 0.3s ease-out, background-color 0.3s;
  caret-color: transparent;
}

.toggler-true {
  .toggler-thumb {
    left: -25%;
  }
}

.toggler-false {
  .toggler-thumb {
    left: 50%;
  }
}