.bible-select-area {
  display: flex;
  gap: 42px;
  justify-content: center;
  align-items: center;
}

.bible-select {
  font-size: 18px;
  height: 32px;
  width: 350px;
  z-index: 9;
  .bible-group {
    font-size: 16px;

    p, li {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-bottom: 2px;
      padding: 0 16px;
    }

    p {
      font-weight: 700;
    }

    li {
      padding-left: 32px;
    }
  }
}