$primary-light: #f2f8ff;
$secondary-light: #ffffff;
$primary-midtone: #707070;
$secondary-midtone: #b7b7b7;
$primary-dark: #141e3b;
$secondary-dark: #050e2a;
$accent: #d6af38;
$gradient: linear-gradient(#F2F2FF, #C8C8C8);