@import './colors';

$themes: (
  light: (
    'scrollbar-thumb': $secondary-midtone,
    'bg-color': $primary-light,
    'nav-gradient': $gradient,
    'nav-text-color': $primary-dark,
    'nav-icons-color': $primary-dark,
    'nav-border': $primary-midtone,
    'shadow': $shadow,
    'toggler-thumb': $accent,
    'toggler-track': $primary-light,
    'toggler-border': $primary-dark,
    'footer-text': $secondary-midtone,
    'footer-icons': $secondary-midtone,
    'footer-logo-background': $primary-light,
    'footer-text-link': $accent,
    'footer-logo-padding': unset,
    'home-menu-border': $primary-dark,
    'home-menu-background': $secondary-light,
    'home-menu-items': $primary-dark,
    'home-menu-hover-background': $accent,
    'home-menu-hover-items': $primary-dark,
    'menu-selected': $accent,
    'menu-selected-stroke': $primary-dark,
    'dropdown-background': $secondary-light,
    'dropdown-border': $primary-midtone,
    'dropdown-text': $primary-midtone,
    'dropdown-select-hover': $accent,
    'dropdown-select-hover-text': $secondary-light,
    'button-background': $accent,
    'main-title': $primary-dark,
    'generic-text': $primary-midtone,
    'error-color': $primary-error,
    'error-border': $primary-midtone,
    'error-background': $accent,
    'button-text': $primary-dark,
    'number-grid-hover-border': $primary-midtone,
    'number-grid-selected-text': $primary-light,
    'number-grid-selected-background': $primary-dark,
    'bible-viewer-border': $primary-midtone,
    'bible-viewer-background': $secondary-light,
    'bible-viewer-text': $primary-midtone,
    'bible-viewer-horizontal-rule': $accent,
    'bible-viewer-copyright': $secondary-midtone,
    'bible-viewer-verse-number': $accent,
    'scripture-style-ca': $secondary-midtone,
    'scripture-style-v': $accent,
    'scripture-style-notelink': $secondary-midtone,
    'scripture-style-fv': $secondary-midtone,
    'scripture-style-wj': $secondary-error,
    'scripture-style-wj-decoration': unset,
    'verse-of-the-day-problem-card-background': $primary-light,
    'verse-of-the-day-problem-card-border': unset,
    'verse-of-the-day-arrow-down': $primary-midtone,
  ),
  dark: (
    'scrollbar-thumb': $secondary-midtone,
    'bg-color': $primary-dark,
    'nav-gradient': $gradient,
    'nav-text-color': $primary-dark,
    'nav-icons-color': $primary-dark,
    'nav-border': $primary-midtone,
    'shadow': $shadow,
    'toggler-thumb': $accent,
    'toggler-track': $primary-dark,
    'toggler-border': $primary-dark,
    'footer-text': $secondary-midtone,
    'footer-icons': $secondary-midtone,
    'footer-logo-background': $secondary-light,
    'footer-text-link': $accent,
    'footer-logo-padding': 5px 22px,
    'home-menu-border': $primary-light,
    'home-menu-background': $secondary-dark,
    'home-menu-items': $primary-light,
    'home-menu-hover-background': $secondary-light,
    'home-menu-hover-items': $primary-dark,
    'menu-selected': $accent,
    'menu-selected-stroke': $primary-dark,
    'dropdown-background': $secondary-light,
    'dropdown-border': $primary-midtone,
    'dropdown-text': $primary-midtone,
    'dropdown-select-hover': $accent,
    'dropdown-select-hover-text': $secondary-light,
    'button-background': $accent,
    'main-title': $primary-light,
    'generic-text': $primary-light,
    'error-color': $secondary-error,
    'error-border': $primary-midtone,
    'error-background': $accent,
    'button-text': $primary-dark,
    'number-grid-hover-border': $primary-light,
    'number-grid-selected-text': $primary-dark,
    'number-grid-selected-background': $primary-light,
    'bible-viewer-border': $primary-midtone,
    'bible-viewer-background': $secondary-dark,
    'bible-viewer-text': $secondary-light,
    'bible-viewer-horizontal-rule': $accent,
    'bible-viewer-copyright': $secondary-midtone,
    'bible-viewer-verse-number': $accent,
    'scripture-style-ca': $primary-midtone,
    'scripture-style-v': $accent,
    'scripture-style-notelink': $primary-midtone,
    'scripture-style-fv': $secondary-midtone,
    'scripture-style-wj': $secondary-light,
    'scripture-style-wj-decoration': underline,
    'verse-of-the-day-problem-card-background': $secondary-dark,
    'verse-of-the-day-problem-card-border': 1px solid $primary-light,
    'verse-of-the-day-arrow-down': $secondary-midtone,
  )
)