@import './colors';

$themes: (
  light: (
    'bg-color': $primary-light,
    'nav-gradient': $gradient,
    'nav-text-color': $primary-dark,
    'nav-icons-color': $primary-dark,
    'nav-border': $primary-midtone,
    'shadow': $shadow,
    'toggler-thumb': $accent,
    'toggler-track': $primary-light,
    'toggler-border': $primary-dark,
    'footer-text': $secondary-midtone,
    'footer-icons': $secondary-midtone,
    'footer-logo-background': $primary-light,
    'footer-text-link': $accent,
    'footer-logo-padding': unset,
  ),
  dark: (
    'bg-color': $primary-dark,
    'nav-gradient': $gradient,
    'nav-text-color': $primary-dark,
    'nav-icons-color': $primary-dark,
    'nav-border': $primary-midtone,
    'shadow': $shadow,
    'toggler-thumb': $accent,
    'toggler-track': $primary-dark,
    'toggler-border': $primary-dark,
    'footer-text': $secondary-midtone,
    'footer-icons': $secondary-midtone,
    'footer-logo-background': $secondary-light,
    'footer-text-link': $accent,
    'footer-logo-padding': 5px 22px
  )
)