@import '../common/sass/functions';
@import '../common/sass/styles/fonts';
@import '../common/sass/constants';
@import '../common/sass/mixins';

* {
  box-sizing: border-box;
  margin: 0;
  transition: background-color 0.3s;
  @include theme() {
    color: theme-get('generic-text');
  }
}

body {
  min-height: 100vh;
  min-width: 900px;

  #root {
    height: 100%;
  }
}

.App {
  height: 100%;
}

.parent {
  height: 100%;
  width: 100%;
  @include theme() {
    background-color: theme-get('bg-color');
  }
}

.content {
  min-height: calc(100vh - $nav-height - $footer-height);
  padding: 30px 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
  padding: 0;
}

input[type="button"] {
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  box-sizing: content-box;
  cursor: pointer;
  @include theme() {
    background-color: theme-get('button-background');
    box-shadow: theme-get('shadow');
    color: theme-get('button-text');
  }
  @include no-user-select;

  &:active {
    transform: scale(0.95);
  }
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  @include theme() {
    background-color: theme-get('scrollbar-thumb');
  }
}

.scripture-styles {
  @include theme() {
    color: theme-get('bible-viewer-text')
  }
  
  .ca {
    @include theme() {
      color: theme-get('scripture-style-ca')
    }
  }

  .v, .vp, sup[class^="v"] {
    @include theme() {
      color: theme-get('scripture-style-v')
    }
  }

  .notelink .notelink:hover, .notelink:active, .notelink:visited {
    @include theme() {
      color: theme-get('scripture-style-notelink');
    }
  }

  .fv {
    @include theme() {
      color: theme-get('scripture-style-fv');
    }
  }

  .wj {
    @include theme() {
      color: theme-get('scripture-style-wj');
      font-weight: 700;
      text-decoration: theme-get('scripture-style-wj-decoration')
    }
  }
}