@import '../common/sass/functions';
@import '../common/sass/styles/fonts';
@import '../common/sass/constants';

* {
  box-sizing: border-box;
  margin: 0;
  transition: background-color 0.3s;
}

body {
  min-height: 100vh;

  #root {
    height: 100%;
  }
}

.App {
  height: 100%;
}

.parent {
  height: 100%;
  width: 100%;
  @include theme() {
    background-color: theme-get('bg-color');
  }
}

.content {
  min-height: calc(100vh - $nav-height - $footer-height);
}

a {
  text-decoration: none;
}