.generic-dropdown-parent {
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid black;
  padding: 0 16px;
  width: 300px;

  .options {
    position: absolute;
  }
}